.header{
    color:black;
    text-align: center;
    
    
}

.header__text{
    font-size: $l-size;
    text-align: center;
    font-weight: 700;
    font-family: 'Russo One', sans-serif;
}

.lead{
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.header-text{
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

